@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
    background-color: #FFF;
}

/* share style */
.text-color {
    color: #FF5400;
}

/* nav style start*/
.nav-section {
    max-width: 1170px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
}

.nav-name {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-name img {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
}

.nav-name h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-items {
    width: 50%;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}

/* nav style end */
/* banner style start */
.banner-container {
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid blue;
    width: 100%;
}

.banner-content {
    padding-top: 100px;
}

.banner-content h1 {
    max-width: 596px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-container p {
    max-width: 676px;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-container {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
}

.banner-form-content {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}

.banner-form-content input {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;

}

.banner-form-content .bg {
    background-color: #FFF;
    position: relative;
    right: 20px;
}

.banner-form-content button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

/* 
.form-container {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid red;
}

.form-container>form {
    display: flex;
    justify-content: space-between;
    width: 174px;
} */



/* style for small devices(Phone) */

@media screen and (max-width: 576px) {

    .nav-section,
    .nav-items {
        flex-direction: column;
        width: 100%;
    }

    .nav-name {
        width: 100%;
        justify-content: center;
    }

    .nav-items {
        gap: 10px;
    }
    .banner-content{
        padding: 0;
        text-align: center;
    }

}