@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
    background-color: #FFF;
}

/* share style */
.text-color {
    color: #FF5400;
}

/* nav style start*/
.nav-section {
    max-width: 1170px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
}

.nav-name {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-name img {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
}

.nav-name h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-items {
    width: 50%;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}

/* nav style end */
/* banner style start */
.banner-container {
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    width: 100%;
}

.banner-content {
    padding-top: 100px;
}

.banner-content h1 {
    max-width: 596px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-container p {
    max-width: 676px;
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-container {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
}

.banner-container .banner-form-section {
    max-width: 768px;
    margin: 48px auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 20px;
}

.banner-form-section form {
    display: flex;
    justify-content: space-between;
}

input[type=text],
select {
    width: 174px;
    padding: 12px 20px;
    margin: 8px 0;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 174px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 0;
    border-radius: 8px;
    background: #FF5400;
}

/* tour container */
.tour-container {
    max-width: 1170px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    display: flex;
    padding-top: 100px;
}

.tour-content {
    padding-right: 25px;
}

.tour-content-image {
    padding-left: 25px;
}

.tour-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tour-content button {
    border-radius: 8px;
    background-color: #FF5400;
    padding: 14px 35px;
    border: 0;
}

/* choose destination style */
.destination-content h3 {
    padding-top: 100px;
    max-width: 478px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination-content p {
    max-width: 643px;
    margin: 0 auto;
    /* border: 2px solid aqua; */
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* destination images */
.image-first-row {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.image-first-row h4 {
    width: 573px;
    height: 300px;
    color: #FFF;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
}

.image-first-row #Maldives {
    background-image: url(../Images/Rectangle\ 5.png);
}

.image-first-row #Indonesia {
    background-image: url(../Images/Rectangle\ 8.png);
}

.image-second-row {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.image-second-row #srilanka {
    width: 374px;
    height: 286px;
    color: #FFF;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    background-image: url(../Images/Rectangle\ 6.png);
}

.image-second-row #America {
    width: 474px;
    height: 286px;
    color: #FFF;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    background-image: url(../Images/Rectangle\ 7.png);
}

.image-second-row #Kashmir {
    width: 274px;
    height: 286px;
    color: #FFF;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    background-image: url(../Images/Rectangle\ 9.png);
}

.image-third-row {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.image-third-row #Bangladesh {
    width: 473px;
    height: 300px;
    color: #FFF;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    background-image: url(../Images/Rectangle\ 11.png);
}

.image-third-row #Bandarban {
    width: 673px;
    height: 300px;
    color: #FFF;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
    background-image: url(../Images/Rectangle\ 10.png);
}

/* destination section end */
/* choose us style */
.choose-us {
    max-width: 1170px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.why-choose h3 {
    width: 307px;
    margin: 0 auto;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.why-choose p {
    width: 643px;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.Handpicked-service {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.Handpicked {
    width: 573px;
    height: 284px;
    /* border: 2px solid green; */
}

.service {
    width: 573px;
    height: 284px;
    /* border: 2px solid green; */
}

.Handpicked h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.Handpicked p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.price-guide {

    width: 573px;
    height: 284px;
    margin: 24px auto;
    /* border: 2px solid red; */
}

.price-guide h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.price-guide p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* discount style */
.Discount {
    max-width: 1170px;
    margin: 0 auto;
}

.Discount h1 {
    width: 351px;
    margin: 100px auto 24px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    /* border: 2px solid black; */
}

.Discount p {
    width: 643px;
    margin: 0 auto 48px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* border: 2px solid black; */
}

/* deals and discount photos style */
.price-guide-deals1 {
    max-width: 1170px;
    height: 500px;
    margin: 0 auto 24px;
    background-image: url(../Images/deals/Rectangle\ 12.png);
    display: grid;
    align-items: center;
}

.price-guide-deals1 .location1 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    position: relative;
    left: 535px;
    /* border: 2px solid #FFF; */
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.location1 nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price-guide-deals2 {
    max-width: 1170px;
    height: 500px;
    margin: 0 auto 24px;
    background-image: url(../Images/deals/Rectangle\ 12\ \(1\).png);
    display: grid;
    align-items: center;
}

.price-guide-deals2 .location2 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    position: relative;
    left: 56px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.location2 nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price-guide-deals3 {
    max-width: 1170px;
    height: 500px;
    margin: 0 auto 24px;
    background-image: url(../Images/deals/Rectangle\ 12\ \(2\).png);
    display: grid;
    align-items: center;
}

.price-guide-deals3 .location3 {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    position: relative;
    left: 535px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.location3 nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.deals-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    position: relative;
    left: 60px;
}

.deals-description {
    color: #5A5A5D;
    font-size: 16px;
    width: 452px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    left: 60px;
}

.price-tags {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    left: 60px;
}

.booknow {
    border: 0;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    left: 60px;
}

.last-btm {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 100px;
}

.last-btm button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0;
    padding: 16px;
}

/* image section done */
/* perfect place style */

.perfect-place {
    max-width: 1170px;
    margin: 0 auto;
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-between;
}

.place-content {
    width: 610px;
    height: 424px;
    margin-top: 0;
    /* border: 2px solid blue; */
    display: grid;
    gap: 0;
}

.place-content h2 {
    width: 448px;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

.place-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.place-content button {
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
}

.place-image {
    background-image: url(../Images/Group\ 40089.png);
    display: grid;
    justify-content: center;
    align-items: center;
    width: 610px;
    height: 424px;
    /* border: 2px solid blue; */
}

.place-image h1 {
    width: 276px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

/* form section */
.form-section {
    max-width: 1170px;
    margin: 100px auto;
    /* border: 2px solid slateblue; */
    display: flex;
    justify-content: space-between;
}

.form-content {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.form-content h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    position: relative;
    left: 24px;
}

.form-content p {
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    left: 24px;
}

.form-content button {
    border: 0;
    margin-top: 30px;
    border-radius: 8px;
    background: #FF5400;
    width: 393px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    left: 24px;
}

.form-image {
    width: 672px;
    height: 422px;
    flex-shrink: 0;
    border-radius: 16px;
    background: url(../Images/Rectangle\ 8\ \(1\).png), lightgray 50% / cover no-repeat;
}

.form-image .form-image-content {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    left: 340px;
    top: 210px;
}

#travel {
    color: #FFF;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

#Save {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 800;

}

/* footer style */

footer {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 110px;
}

.footer-title {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

footer p {
    width: 769px;
    margin: 0 auto;
    padding-bottom: 32px;
}

footer .footer-image img {
    background-color: #FF5400;
}

.line {
    width: 872px;
    margin: 50px auto;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

/* style for small devices(Phone) */

@media screen and (max-width: 576px) {

    .nav-section,
    .nav-items,
    .tour-container,
    .image-first-row,
    .image-second-row,
    .image-third-row,
    .Handpicked-service,
    .perfect-place,
    .form-section,
    form {
        flex-direction: column;
        width: 100%;
    }

    .banner-content h1 {
        font-size: 36px;
    }

    .banner-container p {
        max-width: 540px;
    }

    .banner-container .banner-form-section {
        margin: 32px auto;
    }

    .banner-container .banner-form-section {
        display: flex;
        width: 287px;
        padding: 16px;
        text-align: center;
        align-items: flex-start;
        gap: 16px;
        align-items: center;
    }
    input[type=text], select,
    input[type=submit]{
        width: 100%;
    }

    .nav-name {
        width: 100%;
        justify-content: center;
    }

    .nav-items {
        gap: 10px;
    }

    .banner-content {
        padding: 0;
        text-align: center;
    }
  

    .tour-content-image img {
        position: relative;
        padding-top: 35px;
        padding-left: 75px;
        width: 335px;
        height: 342px;
        text-align: center;
    }

    .tour-content {
        margin-left: 20px;
        max-width: 500px;
    }

    .tour-container {
        padding-top: 0;
    }
    .tour-content h3{
        font-size: 26px;
    }
    .tour-content p{
        font-size: 14px;
    }
    .tour-content p{
        font-size: 14px;
        line-height: normal;
    }
    .tour-content button{
        margin-left: 24px;
    }
    .tour-content-image img{
        padding-left: 25px;
    }

    .destination-content h3 {
        padding-top: 30px;
        font-size: 20px;
    }
    .destination-content p{
        font-size: 14px;
        max-width: 500px;
        line-height: normal;
    }

    .image-first-row {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .image-first-row h4{
        max-width: 450px;
        border-radius: 8px;
    }

    .image-second-row #srilanka {
        margin-left: 25px;
        
    }

    .image-second-row #America {
        margin-left: 25px;

    }

    .image-second-row #Kashmir {
        margin-left: 75px;

    }
    .image-third-row #Bangladesh{
        max-width: 450px;
        border-radius: 8px;
    }
    .image-third-row #Bandarban{
        max-width: 450px;
        border-radius: 8px;
    }

    .image-third-row {
        margin-left: 50px;
    }

    .Handpicked-service {
        padding-top: 20px;
        margin-left: 25px;
    }

    .price-guide {
        margin-left: 25px;
    }

    .price-guide-deals1 .location1 {
        position: static;
    }

    .price-guide-deals2 .location2 {
        position: static;
    }

    .price-guide-deals3 .location3 {
        position: static;
    }

    .form-content {
        margin-left: 25px;
    }

    footer p {
        width: 400px;
    }

}